%div.node.draggable{id: node.id, relation: node.rel, class: node.class}
  .holder
    = partial("button", [{symbol:"✚",class:"add_node",info:"add child node"},{symbol:"⚙",class:"edit",info:"edit"},{symbol:"✖",class:"delete_node",info:"delete"}])
    %p= node.text